# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Misc
*.map
*.m
*.png

# Eclipse CDT project files
.cproject
.project
.settings/

# Vagrant directory
.vagrant/

# Include makefiles
!Makefile
*~

# Libraries
/lib
/Debug
/Debug
Debug/Core/Src/main.su
Debug/Core/Src/stm32f4xx_hal_msp.cyclo
Debug/Core/Src/stm32f4xx_hal_msp.su
Debug/Core/Src/stm32f4xx_it.cyclo
*.su
*.cyclo
*.su
